.cartIcon{
    width: 35px !important;
    height: 35px !important;
}


.openIconContainer {
    padding: 0;
    background-color: transparent;
    padding-left: 5px;
  }
  .openIconContainer :global(.vtex-button) {
    background-color: transparent;
    padding: 0;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
  }
  .openIconContainer :global(.vtex-button__label) {
    padding: 0;
  }
  .minicartQuantityBadge {
    background-color: #4fd7e5;
    top: -4px;
    right: -5px;
    width: 20px;
    height: 20px;
    letter-spacing: -1px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
  }
  
  .minicartIconContainer{
    padding-right: 5px;
  }
  
  /* :global(.vtex-toast-container) {
    display: none;
  } */
  
  :global(.vtex-toast){
    background-color: #4fd7e5;
    font-size: 1em;
    padding: 10px 10px;
    width: 100%;
    min-width: 600px;
  }
  :global(.vtex-toast) :global(.vtex-button__label){
    font-size: .9em;
    font-weight: bold;
    padding: 0 20px;
  }
  :global(.vtex-toast) .lh-copy {
    line-height: 1.5;
  }
  
  .closeIconContainer {
    background-color: #4fd7e5;
    justify-content: flex-end;
    position: relative;
    height: 20px;
  }
  .closeIconButton {
    padding: 5px;
  }
  .minicartTitle {
    background-color: #4fd7e5;
    width: 100%;
    margin: auto;
    padding: 0 0 10px 20px;
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: bold;
  }
  .minicartTitle::after {
    content: " de Compras";
  }
  .closeIcon {
    color: #fff !important;
  }
  .minicartCheckoutButton :global(.vtex-button) {
    border-radius: 20px;
    transition: 0.5s all ease;
    max-width: 120px;
    background-color: #4fd7e5;
    border: none;
    color: #fff;
  }
  .minicartCheckoutButton :global(.vtex-button):hover {
    background-color: #4fd7e5;
    border-color: transparent;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);
  }
  .minicartCheckoutButton :global(.vtex-button__label) {
    font-size: 0;
  }
  .minicartCheckoutButton :global(.vtex-button__label)::before {
    font-size: 16px;
    content: "PAGAR";
    font-weight: bold;
  }
  .minicartCheckoutButton {
    text-align: right !important;
  }
  
  .minicartWrapperContainer--miniCartMobile{
    padding-left: 10px;
  }
  .drawer{
    z-index: 50000;
  }
  .minicartSummary{
    padding: 0 20px !important;
  }
  .minicartProductListContainer{
    padding: 5px 15px;
  }
  
  
  
  
  @media (max-width: 1100px) {
    .openIconContainer :global(.vtex-button__label) {
      padding-left: 0;
      padding-right: 0px;
    }
    .minicartQuantityBadge {
      background-color: #16A1B3;
      top: 0;
      right: 0px;
      width: 10px;
      height: 10px;
      letter-spacing: -1.5px;
      color: #fff;
      font-weight: bold;
      font-size: 9px;
      line-height: 2;
    }
  
    .minicartIconContainer{
      padding-right: 5px;
    }
  
    :global(.vtex-toast){
      min-width: initial;
      font-size: .8em;
    }
    :global(.vtex-toast) .lh-copy {
      line-height: 1;
      padding: 0;
    }
    .minicartTitle {
        font-size: 1em;
        font-weight: bold;
    }
  }
  
  @media (max-width: 500px) {
  
    .cartIcon--BolsaCompras{
      max-width: 35px !important;
    }
  }