.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

.paragraph--example{
  color: red;
  margin: 0;
}

.wrapper--example{
  margin: 0;
  padding: 0;
}


.container--example{
  margin: 0;
  padding: 0;
  background: green;
}

.paragraph--novedades-text, .paragraph--ofertas-text{
  color: #4ED7E5 !important;
}

.paragraph--phone-info{
  /* background: #FAD3D6; */
  margin: 0 10px;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.paragraph--TituloFooterLaTienda{
  color: #fff;
  text-transform: uppercase;
  padding-left: 0px;
  font-weight: bold;
}

.container--contactText{
  height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
}

.paragraph--contactTextTitle{
  color: #fff;
}

.wrapper--IconoHome{
  /* height: 60px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph--IconoHome{
  color: #14A0B0;
  font-weight: bold;
  padding: 0;
  margin: 2px auto;
  line-height: 1;
}

.container--ValoresHome{
  align-self: center;
  padding: 0;
}
.wrapper--ValoresHome{
  padding: 15px 10px;
  margin: 0;
}
.paragraph--ValoresHome{
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: #fff;
  font-size: .8em;
}
.wrapper--TextoSuscribete{
  padding: 0 20px 0 0;
  margin: 0;
}

.paragraph--TextoSuscribete{
  color: #fff;
  line-height: 1.4;
  font-weight: bold;
  cursor: pointer;
}


.container--IconoValoreshome{
  align-self: center;
  padding: 0;
}
.wrapper--IconoValoreshome{
  padding: 0;
  margin: 0;
}
.paragraph--IconoValoreshome{
  padding: 10px 0 0 0;
  margin: 0;
  color: #04143B;
  line-height: 1.3;
  font-size: 14px;
}
.strong--IconoValoresHome{
  font-size: 16px;
}

.paragraph--TextoXtrategik,
.paragraph--TextoTecnologiaVTEX{
  color: #333333;
  padding: 0;
  margin: 0;
  font-size: .7em;
  letter-spacing: -0.5px;
  font-weight: bold;
}

.container--InfoCredito{
  align-self: center;
  padding: 0;
  background-image: url(assets/img/backgrounds/fondoMensaje.png);
  border-radius: 10px;
  margin: 10px 0px;
}
.wrapper--InfoCredito{
  padding: 0;
  margin: 0;
}
.paragraph--InfoCredito{
  margin: 0;
  color: #fff;
  line-height: 1.2;
  padding: 10px 5px;
  font-weight: bold;
}
.strong--InfoCredito{
  font-size: 1.2em;
}
.link--InfoCredito{
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
}
.headingLevel1--InfoCredito{
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
}
.headingLevel2--InfoCredito{
  text-decoration: none;
  color: #000;
  font-size: 0.9em;
}

.container--Decidiste{
  align-self: center;
  padding: 0;
}
.wrapper--Decidiste{
  padding: 0;
  margin: 0;
}
.paragraph--Decidiste{
  padding: 10px 20px;
  margin: 0;
  color: #9C9AA0;
}
.strong--Decidiste{
  font-size: 1em;
}

.container--LinksHeader{
  align-self: center;
  padding: 0;
}
.wrapper--LinksHeader{
  padding: 0;
  margin: 0;
}
.paragraph--LinksHeader{
  padding: 5px 0;
  margin: 0;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.strong--LinksHeader{
  font-size: 1.2em;
}
.link--LinksHeader{
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}
.image--LinksHeader{
  padding: 0 10px;
}

.link--textoSeguirComprando{
  color: #4fd7e5;
  font-weight: bold;
  text-decoration: none;
}

.wrapper--legal-link{
 width: 100%;
}
.paragraph--legal-link{
  padding: 10px 15px;
  margin: 6px 20px;
  box-shadow: 0px 0px 5px #e7e7e7;
  border-radius: 8px;
  cursor: pointer;
}

.link--legal-link{
  text-decoration: none;
  color:#4ED7E5;
  font-weight: bold;
}

.paragraph--legal-link:hover{
  background-color: #4ED7E5;
}

.paragraph--legal-link:hover .link--legal-link{
  color: #fff;
}

.heading--terminos-condiciones-content-title{
  color:#4ED7E5;
  text-align: left;
  padding: 20px 0 20px;
  font-size: 1.8em;
  margin: 0;
}

.paragraph--terminos-condiciones-content-subtitle{
  color: #000;
  font-weight: bold;
  margin: 0px;
}

.paragraph--solicitar-credito-text{
  color: #fff;
}

.paragraph--links-mini-footer-text{
  color: #fff;
  font-weight: bold;
}

.container--links-mini-footer-text{
  height: 30px;
}
.container--Desarrollo{
  align-self: center;
  padding: 0;
}
.wrapper--Desarrollo{
  padding: 0;
  margin: 0;
  background-color: yellow;
  width: 100%;
}
.paragraph--Desarrollo{
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}
.strong--Desarrollo{
  font-size: 1.2em;
}
.link--Desarrollo{
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
}
.headingLevel1--Desarrollo{
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
}
.headingLevel2--Desarrollo{
  text-decoration: none;
  color: #000;
  font-size: 0.9em;
}

.container--layout-option {
  margin-left: 0.3em;
}

.paragraph--layout-option {
  margin: 0;
}

.paragraph--summarySpecificationBullet {
  margin: 0;
  line-height: initial;
  font-size: 1.25rem;
  line-height: 1.15rem;
}

.paragraph--terminos-condiciones-content-text{
  padding: 0;
  margin: 10px 0;
  font-size: .9em;
  text-align: justify;
}


@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}


.container--ContactaAsesor{
  align-self: center;
  padding: 0;
}
.wrapper--ContactaAsesor{
  padding: 0;
  margin: 0;
  background-color: #c2edf3;
  padding: 10px 15px;
  border-radius: 8px;
  min-width: 230px;
}
.paragraph--ContactaAsesor{
  padding: 0;
  margin: 0;
  color: #14a0b0;
  line-height: 1;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.strong--ContactaAsesor{
  font-size: 1em;
}
.link--ContactaAsesor{
  text-decoration: none;
  color: #14a0b0;
  font-size: 1em;
}
.image--ContactaAsesor{
  height: 20px;
  margin-left: 5px;
}

.container--tipoProceso{
  align-self: center;
  padding: 0;
}
.wrapper--tipoProceso{
  padding: 0;
  margin: 0;
}
.paragraph--tipoProceso{
  padding: 0;
  margin: 0;
  font-size: 1em;
}
.strong--tipoProceso{
  font-size: 1em;
}
.link--tipoProceso{
  text-decoration: none;
  color: #000;
  font-size: 1em;
}
.headingLevel1--tipoProceso{
  text-decoration: none;
  color: #000;
  font-size: 1em;
}
.headingLevel2--tipoProceso{
  text-decoration: none;
  color: #000;
  font-size: 0.9em;
}
.container--bloqueLorem{
  align-self: center;
  padding: 0;
}
.wrapper--bloqueLorem{
  padding: 0;
  width: 600px;
  height: 200px;
  background-color: #4fd7e5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0 auto 20px;
}
.paragraph--bloqueLorem{
  padding: 0;
  margin: 0;
  color: #333333;
  text-align: center;
}
.strong--bloqueLorem{
  font-size: 1.2em;
}
.container--Error404{
  align-self: center;
  padding: 0;
}
.wrapper--Error404{
  padding: 20px 20px 10px;
  margin: 0;
}
.paragraph--Error404{
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
}
.strong--Error404{
  font-size: 2em;
  font-weight: bold;
  color: #4ED7E5;
}
.link--Error404{
  text-decoration: none;
  color: #000;
}
.headingLevel1--Error404{
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
}
.headingLevel2--Error404{
  text-decoration: none;
  color: #000;
  font-size: 0.9em;
}
@media (max-width: 500px){
  .wrapper--legal-link {
    height: fit-content;
    width: 100%;
}
  .paragraph--legal-link {
    width: 100%;
    padding: 5px 10px;
    margin: 5px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #eee;
    border: 1px solid #eee;
}
.heading--terminos-condiciones-content-title{
  color:#4ED7E5;
  text-align: left;
  margin: 30px 0px 5px 0px;
  font-size: 28px;
  text-align: center;
}

.container--terminos-condiciones-content-subtitle{
  display: flex;
  justify-content: center;
}

.paragraph--terminos-condiciones-content-text{
  text-align: justify;
}
}