.galleryLayoutOptionButton {
  background-color: #F0F0F0;
  color: #3F3F40;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.galleryLayoutOptionButton--selected {
  background-color: #3F3F40;
  color: #FFFFFF;
}

.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center
}

.galleryItem--list {
  border-bottom: 1px #E7E9EE solid;
}

.searchResultContainer--ResultLayoutDesktop {
  max-width: 100%;
  padding: 0;
}

.caretIcon--FiltrosSearch {
  width: 10px;
  padding: 0 0 0 10px;
}
.accordionFilterContainer--FiltrosSearch{
  padding-left: 15px;
}
.filterAvailable--FiltrosSearch {
  padding: 10px 0;
}
.filterTitleSpan--FiltrosSearch {
  font-weight: bold;
  font-size: .9em;
}
.filterSelected--FiltrosSearch {
  padding: 10px 0;
  margin: 0;
}
.filterTitle--FiltrosSearch {
  text-transform: initial;
}
.filterMessage--FiltrosSearch {
  padding: 15px 0 15px 40px;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  color: #f80e48;
  background-image: url(assets/img/iconos/iconoFiltros.svg);
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: center;
  background-size: 25px;
}
.filter__container--FiltrosSearch--title {
  border: none;
}