.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

@media (max-width: 1600px) {
  .flexCol--terminos-condiciones-text-container{
    max-width: 1050px;
  }
}
@media (max-width: 500px){
  .flexCol--terminos-condiciones-text-container{
    padding: 0px 20px;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRowContent--custom-block{
  background: yellow;
}

.flexRow--main-menu-items{
  background: #F80F49;
}

.flexRowContent--main-header{
  background-color: #fff;
  height: 82px;
}

.flexRow--icons-login-wish-call{
  display: flex;
  align-items: center;
}

.flexColChild--login-block, .flexColChild--icon-call{
  margin: 0px 5px;
}

.flexRow--novedades-header, .flexRow--ofertas-header{
  margin: 0px 15px;
  padding-top: 5px;
}

.flexRow--menu-row{
  background-color: #F80F49;
}

.flexRowContent--socialMediaFooterIcons{
  margin-top: 30px;
  padding: 20px 0px;
}

.flexRow--logos-comercio{
  background-color: #F80F49;
}

.flexRowContent--Footer-Xtrategik-CT {
  align-items: center;
  padding: 10px;
}

.flexRowContent--Footer-Xtrategik {
  /* justify-content: center; */
}

.flexCol--IconoHome{
  background-color: #B8EFF5;
  border-radius: 10px;
  margin: 0px 25px;
  padding: 10px;
  transition: .5s all ease;
}

.flexCol--IconoHome:hover{
  background-color: #66cccc;
}

.flexRow--ValoresHome{
  background-image: url(assets/img/backgrounds/fondoValoresQualia.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.flexRow--productSpecificationGroup:not(:first-child) {
  margin-top: 1.5rem;
}

.flexRow--productSpecificationGroupName {
  background-color: #eaeaea;
  padding: 0.5rem 1rem;
}

.flexCol--productSpecificationName {
  padding: 1rem;
}

.flexCol--productSpecificationValue {
  padding: 1rem 1rem 1rem 0;
}

.flexRow--productSpecification:nth-child(even) {
  background-color: #f9f9f9;
}

.flexRowContent--faq {
  max-width: 700px;
  margin: auto;
}

.flexRowContent--contact {
  max-width: 700px;
  margin: auto;
}

.flexRowContent--contact :global(.vtex-input__label),
.flexRowContent--contact :global(.vtex-textarea__label) {
  font-size: 1rem;
  color: #3f3f40;
}

.flexRowContent--contact :global(.vtex-input),
.flexRowContent--contact :global(.vtex-textarea) {
  display: block;
  margin-bottom: 1rem;
}

.flexRow--orderByAndSwitcher {
  padding-right: 1.5em;
}

.flexRowContent--savingsSummaryListDesktop {
  justify-content: flex-start;
}

.flexCol--summaryRightListDesktop {
  justify-content: space-around;
}

.flexRow--buyNowButton :global(.vtex-button) {
  background: #eef3f7;
  border-color:#eef3f7;
  color: #0f3e99;
}

.flexRow--buyNowButton:hover :global(.vtex-button) {
  background: #dbe9fd;
  border-color:#dbe9fd;
}

.flexCol--productRating {
  margin-bottom: 3rem;
}

.flexCol--summaryDetailsListMobile {
  justify-content: space-between;
}

.flexCol--summaryUpDetailsListMobile {
  margin-bottom: 0.25rem
}

.flexRowContent--NombreProducto{
  /* justify-content: center;   */
}

.flexRowContent--FormularioBoletinCT {
  background-color: #151E3F;
  margin: 20px auto;
  width: 100%;
  padding: 20px 30px;
  border-radius: 20px;
  max-width: 960px;
  justify-content: space-around;
  align-items: center;
}

.flexRow--FormularioBoletinCT {
  /* background-color: rgba(0,0,0,0.03); */
  padding: 20px 0;
}

.flexRow--SliderProductosSugeridosHome {
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.flexRowContent--SliderHome{
  margin: auto;
  max-width: 1200px;
}

.flexCol--IconoValoresHome {
  width: 270px;
  border-radius: 20px;
  margin: auto 20px;
  padding: 20px 10px;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.05);
}

.flexRow--qualia-ubuntec-logos {
  display: flex;
  border-left: 1px solid #fff;
}

.flexRowContent--CantidadAgregar{
  align-items: center;
}

.flexRowContent--CantidadAgregar :global(.vtex-button) {
  border: 2px solid #F80F49;
  background-color: #F80F49;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-height: 0 !important;
  height: 40px;
  border-radius: 10px;
  transition: 0.5s all ease;
  margin-left: 5px;
  color: #fff;
}
.flexRowContent--CantidadAgregar :global(.vtex-button):hover {
  border: 2px solid #F80F49;
  background-color: #F80F49;
}

/* add-to-cart-button#PDP */
.flexRowContent--btnComprarProd :global(.vtex-button) {
  background: #4ed7e5;
  border-radius: 10px;
  color: #fff;
  padding: 0;
  min-height: initial;
  transition: .5s all ease;
  border: none;
  font-weight: bold;
  height: 40px;
  text-transform: inherit;
}
.flexRowContent--btnComprarProd :global(.vtex-button):hover {
  color: #fff;
  box-shadow: none !important;
  border: none !important;
  background-color: #F80F49;
}

.flexRow--btnHome{
  padding: 10px 20px;
}

.flexRow--LinksHeader{
  background-color: #F80F49;
  padding: 0 20px;
}
.flexRow--HeaderLogo{
  background-color: #fff;
}
.flexRow--LinksNovedades{
  padding: 0 20px;
}
.flexRow--LinksFavoritos{
  padding: 0 20px 0 10px;
}

.flexRow--footerDesktop{
  background-color: #F80F49;
  padding: 30px;
}
.flexCol--qualia-footer-container{
  padding: 0 0 0 30px;
}

.flexRowContent--botonVerMas {
  text-align: right;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -20px;
  padding: 0 5px;
}

.flexCol--LinksMenuDespMobile{
  border-top: 2px salmon solid;
  border-bottom: 2px salmon solid;
  margin-bottom: 15px;
  padding: 10px 0px;
}

.flexColChild--terminos-condiciones-content {
  width: 100%;
}

.flexRow--solicitar-credito{
  background: #4ed7e5;
  width: 100%;
  padding: 10px 0px;
}

.flexRow--mini-footer-logos{
  background: #F80F49;
  padding: 40px 0px;
}

.flexRow--ubuntec-mini-footer-logo{
  padding: 0 30px;
  border-right: 2px #fff solid;
}

.flexRow--fintech-mini-footer-logo{
  margin: 0px 35px;
}

.flexRow--industria-mini-footer-logo{
  padding-right: 35px;
  margin-left: 30px;
  border-right: 2px #fff solid;
}

.flexCol--terminos-condiciones-text-container{
  max-width: 1280px;
  padding: 10px 20px;
}


.flexCol--numero-mini-footer{
  margin: 0px 30px;
}

.flexRow--ResultadoContenido {
  padding: 10px 20px;
}


.flexRow--vistaProducto {
  padding: 0 20px;
}
.flexRowContent--main-header-mobile{
  background-color: #fff;
}

.flexRowContent--BuscadorMobile{
  background-color: #fff;
}
.flexRowContent--MediosPagoAsesor{
  align-items: center;
}


.flexCol--AgregarFavorito :global(.vtex-button) {
  border: none;
  margin-top: 3px;
  background-color: transparent;
}
.flexCol--AgregarFavorito :global(.vtex-button):hover {
  border: none;
  background-color: transparent;
}

.flexCol--legal-links {
  padding: 15px 0;
}


.flexCol--FormularioContactenos {
  max-width: 500px;
}
.flexColChild--FormularioContactenos {
  padding: 30px;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.flexRowContent--FormularioContactenos :global(.vtex-input-prefix__group),
.flexRowContent--FormularioContactenosMobile :global(.vtex-input-prefix__group) {
  border: 2px solid #4ed7e5;
  border-radius: 10px !important;
  height: 40px;
  width: 100% !important;
  margin-bottom: 10px;
}
.flexRowContent--FormularioContactenos :global(.vtex-textarea__input),
.flexRowContent--FormularioContactenosMobile :global(.vtex-textarea__input) {
  border: 2px solid #4ed7e5;
  border-radius: 10px !important;
  width: 100% !important;
  margin-bottom: 10px;
  resize: none !important;
}
.flexRowContent--Aceptacion :global(.vtex-checkbox__label) {
  font-size: 0.8em;
}

/* Checkbox */
.flexRowContent--FormularioContactenos :global(.vtex-checkbox__input) {
  width: 30px;
  height: 30px;
}
.flexRowContent--FormularioContactenos :global(.vtex-checkbox__container) {
  width: 30px;
  height: 30px;
}
.flexRowContent--FormularioContactenos :global(.vtex-checkbox__inner-container) {
  width: 30px;
  height: 30px;
}
.flexRowContent--FormularioContactenos :global(.vtex-checkbox__box-wrapper) {
  border: solid 2px #4ed7e5 !important;
  border-radius: 5px;
  width: 20px;
  height: 20px;
}
.flexRowContent--FormularioContactenos :global(.vtex__icon-check) {
  width: 20px;
  height: 20px;
  color: #4ed7e5;
}

.flexRowContent--ContactenosIconos {
  margin: auto;
  max-width: 1200px;
  padding: 20px 0;
}
.flexRowContent--mini-footer-logos{
  align-items: center;
}

.flexCol--links-mini-footer{
  margin-left: 30px;
}

.flexRowContent--mini-footer-mobile{
  background-color: #F80F49;
  padding: 20px 0px;
}

.flexCol--mini-footer-mobile{
  align-items: center;
}

.flexRowContent--mini-footer-mobile-comercio-fintech-industrial-logos{
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px){
  .flexRow--ubuntec-mini-footer-logo, 
  .flexRow--industria-mini-footer-logo, 
  .flexCol--numero-mini-footer{
    border: none;
    margin: 0px !important;
    padding: 0px !important;
  }
}

.flexRowContent--logosFooter-a{
  align-items: center;
}