.container{
  padding: 0;
}
.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px 0 0;
}

.imageElement--main-logo{
  margin: 0px 30px;
}

@media (max-width: 500px) {
  .imageElement--main-logo{
    max-width: 120px;
  }

  .imageElement--login-icon, .imageElement--wishlist-icon, .imageElement--call-icon{
    max-width: 35px;
  }

  .cartIcon--BolsaCompras{
    width: 35px;
  }
}

.imageElement--iconFooterContact{
  margin-right: 10px;
}

.imageElement--qualia-q{
  padding-right: 20px;
  border-right: 2px #fff solid;
}

.imageElement--fintech-img{
  padding: 0px 20px;
  border-right: 2px #fff solid;
}

.imageElement--industria-camara-comercio{
  padding: 0px 20px;
}

.imageElement--VTEX,
.imageElement--XtrategiK {
  padding: 0 10px;
}

.discountInsideContainer {
  top: 10px;
  left: 10px;
  width: fit-content;
  border-radius: 7px;
  font-weight: bold;
  font-size: 1.05em;
}

.productImagesGallerySwiperContainer--imagenProducto {
  border: 1px solid lightgrey;
  border-radius: 10px;
}
.productImagesThumbActive--imagenProducto {
  border: 2px solid #4ed7e5 !important;
  border-radius: 10px;
}
.productImagesThumb--imagenProducto {
  border: 1px solid lightgray;
  border-radius: 10px;
  overflow: hidden;
}
.productImageTag--imagenProducto {
  max-height: unset !important;
}

.imageElementLink--btnHeader{
  padding: 0 10px;
}

.productBrandName--summaryListDesktop {
  text-decoration: none;
  font-weight: 500;
  color: #0067C7;
  font-size: .875rem;
}

.productBrandName--summaryListMobile {
  text-decoration: none;
  color: #0067C7;
  font-size: .875rem;
}

.autoCompleteOuterContainer--searchBar {
  border: none;
  /* border-radius: 40px; */
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.autoCompleteOuterContainer--searchBar :global(.vtex-input__suffix) {
  background-color: #4ED7E5;
  padding: 0;
  border-radius: 30px;
}
.autoCompleteOuterContainer :global(.vtex-input-prefix__group) {
  width: 450px;
  height: 50px;
  border: 2px solid;
  border-radius: 30px !important;
  height: 40px;
  border-color: #4ED7E5;
  /* width: 100% !important; */
}
.searchBarContainer {
  /* width: 300px; */
  margin-right: 0px;
}
.searchIcon--searchBar {
  width: 20px;
  height: 20px;
  color: #fff;
}
.searchBar--searchBar--search {
  padding: 0;
}
.searchBarIcon--searchBar--search {
  padding: 0 10px;
}
.suffixWrapper--searchBar {
  overflow: hidden;
  border-radius: 5px;
}

@media (max-width: 500px){
  .autoCompleteOuterContainer :global(.vtex-input-prefix__group) {
    width: 100%;
  }
}

.productDescriptionContainer {
  font-size: .8em;
  text-align: justify;
  line-height: 1.3;
}