.productBrandName--summaryListDesktop {
  text-decoration: none;
  font-weight: 500;
  color: #0067C7;
  font-size: .875rem;
}

.productBrandName--summaryListMobile {
  text-decoration: none;
  color: #0067C7;
  font-size: .875rem;
}

.autoCompleteOuterContainer--searchBar {
  border: none;
  /* border-radius: 40px; */
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.autoCompleteOuterContainer--searchBar :global(.vtex-input__suffix) {
  background-color: #4ED7E5;
  padding: 0;
  border-radius: 30px;
}
.autoCompleteOuterContainer :global(.vtex-input-prefix__group) {
  width: 450px;
  height: 50px;
  border: 2px solid;
  border-radius: 30px !important;
  height: 40px;
  border-color: #4ED7E5;
  /* width: 100% !important; */
}
.searchBarContainer {
  /* width: 300px; */
  margin-right: 0px;
}
.searchIcon--searchBar {
  width: 20px;
  height: 20px;
  color: #fff;
}
.searchBar--searchBar--search {
  padding: 0;
}
.searchBarIcon--searchBar--search {
  padding: 0 15px;
}
.suffixWrapper--searchBar {
  overflow: hidden;
  border-radius: 5px;
}
